<h1>Users</h1>
<section>
  @if (isLoading()) {
    <p>Loading...</p>
  } @else if (!!error()) {
    <p>Error: {{ errorMessage() }}</p>
  } @else {
    <p>number of users: {{ usersCount() }}</p>
    <ul>
      @for (user of users();track user.id;let i = $index) {
          <li>
            {{ i }}: {{ user.name }}
            <div style="margin-bottom: 1vh">
              <img ngSrc="{{user.avatar}}"
                   width="100"
                   height="100"
                   rel="preconnect"
                   [priority]="true"
                   [alt]="'user:' + user.name"
              >
            </div>
            <button style="margin-bottom: 5vh"
                    (click)="onEdit(user.id)">
              Edit
            </button>
          </li>
      } @empty {
        <li> There are no users.</li>
      }
    </ul>
  }
</section>
